.container {
    background: #18325b;
    text-align: center;
    padding: 60px 30px;
}

.container h1{
    color:#fef5e6;
    padding: 20px;
}

.container p{
    color: #cfd5dd;
    padding: 20px;
}

.container button{
    height: 40px;
    width: 180px;
    font-size: 17px;
    color: white;
    background-color: green;
    border: none;
    margin: 10px 0;
}